*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat';
  color: #FFFFFF;
  text-decoration: none;
}
section, nav{
  padding: 0 165px;
}
u{
  color: #FF0606;
}
button{
  cursor: pointer;
}
a{
  cursor: pointer;
}

@media  (min-width: 1200px) and (max-width: 1900px) {
  
section, nav{
  padding: 0 124px;
}
}
@media  (min-width: 650px) and (max-width: 1199px) {
  section, nav{
    padding: 0 32px;
  }
}
@media  (max-width: 649px) {
  section, nav{
    padding: 0 28px;
  }
}
